{% extends 'index.html' %}
{% load static %}

{% block header %}
 <!-- Header - set the background image for the header in the line below-->
 <header class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1545486332-ae6c3bf92201?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{% static 'assets/images/Francisco_Sesto.jpg' %}" alt="..."  width="150"/>
        <h1 class="text-white fs-3 fw-bolder">Formulario</h1>
        <p class="text-white-50 mb-0">Usuarios</p>
    </div>
</header>
{% endblock %}

{% block content1 %}
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2> Formulario Usuario </h2>
                        <p class="lead">Introduce los datos</p>
                        
                            {% if form.errors %}

                            <p style='color: red;' class="mb-0"> Estan mal los datos </p>
                            {% endif %}
                            
                            <form action='' method='POST' class="mb-0" > {% csrf_token%}
                                <table>
                                 {{ form.as_table }}
                                </table>
                            <input type='submit' value='Enviar' class="mb-0">
                            </form>
                            
                        
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block image %}
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
{% endblock %}

{% block content2 %}
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2 id="About" name="About">About</h2>
                        <p class="lead">Francisco Sesto </p>
                        <p class="mb-0">Esta es la primer entrega del proyecto final.</p>
                    </div>
                </div>
            </div>
        </section>
        
{% endblock %}