{% extends 'index.html' %}
{% load static %}

{% block header %}
 <!-- Header - set the background image for the header in the line below-->
 <header class="py-5 bg-image-full" style="background-image: url('{% static 'assets/images/Home2.jpg' %}')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{% static 'assets/images/Francisco_Sesto.jpg' %}" alt="..."  width="150"/>
        <h1 class="text-white fs-3 fw-bolder">Francisco Sesto</h1>
        <p class="text-white-50 mb-0">Mi blog</p>
    </div>
</header>
{% endblock %}

{% block content1 %} 
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2> Hasta Pronto </h2>
                        <p class="lead"> Has cerrado sesión exitosamente</p>
                        
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
